p{
	color:  black;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	font-style: italic; 
	text-align: justify;
	text-decoration: ;
	line-height: 0;
	letter-spacing: 2px;
	
}

h1{
	color: #b08968;
	font-family: impact;
	font-size: 30px;
	font-weight: 100;
	font-style: normal; 
	text-align: center;
	padding: 50px 10px ;
	border: 1px solid #b08968;
	border-radius: 15px;
	
	margin-right: 50px;
	background-color: #b08968;
	line-height: 1.2;
	letter-spacing: 2px;
	background-color: #F4F9E9;

	
}


h2{
	color: black;
	font-family: calibri;
	font-size: 15px;
	font-weight: 25;
	font-style: normal; 
	padding: 30px 10px ;
	margin-left: 140px; /* Márgen izquierdo de 50 píxeles */
	margin-right: 195px;
 	 background-color: lightblue;: 15px;

	line-height: 1.2;
	letter-spacing: 0.5px;
	background-color: #ddb892;
}
h3{
	color: black;
	font-family: calibri;
	font-size: 15px;
	font-weight: 25;
	font-style: normal; 
	padding: 30px 10px ;
	margin-left: 200px; /* Márgen izquierdo de 50 píxeles */
	margin-right: 220px;
 	 background-color: lightblue;: 15px;

	line-height: 1.2;
	letter-spacing: 0.5px;
	background-color: #ddb892;
}
h4{
	color: #b08968;
	font-family: impact;
	font-size: 30px;
	font-weight: 100;
	font-style: normal; 
	padding: 50px 10px ;
	margin-left: 100px; /* Márgen izquierdo de 50 píxeles */
 	 background-color: lightblue;: 15px;
	background-color: #b08968;
	line-height: 1.2;
	letter-spacing: 2px;
	background-color: #F4F9E9;
}
.contenedor {
	position: fixed; 
	top: 25px; 
 	right: 20px; 
 	background-color: rgba(255, 255, 255, 0.5); 
	color: black; 
	padding: 10px; 
	border-radius: 10px; 
	width: 200px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.contenedor a {
	color: black; 
	text-decoration: none; 
	font-weight: bold; 
	display: block; 
	margin-bottom: 1.5px; 
}

/* Estilos al pasar el ratón sobre los enlaces */
.contenedor a:hover {
	color:  #99582a; 
	text-decoration: underline; 
	transition: all 0.3s ease; 
}


.elemento {
  margin-left: 20px; /* Todos los elementos con la clase 'elemento' tendrán margen izquierdo */
  background-color: lightblue;
}

.sin-margen {
  margin-left: 0; /* Solo el elemento con la clase 'sin-margen' no tendrá margen */
  background-color: lightcoral;
}
.centro-texto {
  display: flex;
  justify-content: center;  /* Centra el contenido horizontalmente */
  align-items: center;      /* Centra el contenido verticalmente */
  height: 300px;            /* Ajusta la altura según sea necesario */
  text-align: center;       /* Centra el texto dentro del contenedor */
  margin-top: 20px;         /* Ajusta el margen superior si es necesario */
}
.imagen {
    max-width: 100%;
    height: auto;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-bottom: 20px; /* Espacio entre la imagen y la caja */
}

.caja {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}


